*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
html, body {
  font-family: 'Vollkorn', serif;
  color: #404042;
  margin: 0;
  padding: 0;
  background: #e1e1e1;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
}


@media only screen
and (min-device-width : 569px) {
  input, label { display: none; }

  header {
    margin: 0;
    height: 60px;
    border-bottom: 1px solid #c3c3c3;
    background: #f5f5f5;
    color: #2d2d2d;
  }

  .container {
    width: 940px;
    margin: auto;
    position: relative;
  }

  header h1 {
    font-family: 'Vollkorn', serif;
    font-weight: normal;
    color: #fff;
    position: absolute;
    z-index: 2;
    margin: 0 0 0 2em;
    padding: 0.7em;
    display: inline-block;
    background: #85090d;
    font-size: 190%;
    line-height: 0.85em;
  }

  h1 .names {
    font-size: 65%;
  }

  header nav {
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    left: 100px;
    float: right;
  }

  header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  header nav a {
    color: #2d2d2d;
    font-weight: 600;
    text-transform: uppercase;
  }

  header nav a.current, nav a.current li {
    color: white;
    font-weight: 400;
    background: #2d2d2d !important;
  }

  header nav a:hover li {
    background: white;
  }

  header nav ul li {
    vertical-align: top;
    position: relative;
    float: left;
    line-height: 60px;
    height: 60px;
    margin: 0;
    padding: 0 1.2em;
    border-left: 1px solid black;
  }

  header nav li.telephone {
    padding-top: 0.70em;
    line-height: inherit;
  }

  .main {
    color: #404042;
    clear: both;
    background-color: #fff;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 2em 6em 3em;
    min-height: 45%;
  }

  .masthead {
    margin: 0;
  }

  .masthead img {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
  }

  p {
    color: #404042;
    font-size: 127%;
  }

  p.lead {
    font-size: 180%;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
  }

  p.closer {
    font-style: italic;
  }

  footer {
    clear: both;
    font-family: 'Source Sans Pro', sans-serif;
    background: #404042;
    color: #fff;
    font-size: 90%;
  }

  footer div {
    margin-bottom: 1em;
  }

  .footer {
    padding: 2em 6.8em;
  }

  footer nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  footer nav ul li {
    display: inline-block;
  }

  footer nav ul li a {
    color: white;
  }

  footer nav ul li:after {
    content: '|';
    padding: 0 0.58em;
  }
  footer nav ul li.last:after {
    content: '';
  }

  .main h1 {
    margin: 2em 0 0.5em 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    color: #404042;
    text-transform: uppercase;
  }

  .contact h2 {
    color: #85090d;
    font-weight: 600;
  }

  .contact .office {
    width: 350px;
    height: 545px;
    position: relative;
  }

  .bergen-county {
    float: right;
  }

  .hudson-county {
    float: left;
  }

  .contact a.button {
    position: absolute;
    bottom: 0;
  }

}

hr.clearfix {
  border: 0;
  clear: both;
  color: #fff;
  margin-bottom: 3em;
}

address {
  font-style: normal;
  font-size: 120%;
}

.contact a {
  color: #404042;
}

.contact a.button {
  display: block;
  text-decoration: none;
  border: 0;
  text-align: center;
  width: 100%;
  color: #fff;
  background: #85090d;
  font-size: 200%;
  font-weight: 600;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 0.25em;
}

.team h2 {
  background: #e1e1e1;
  color: #85090d;
  text-transform: uppercase;
  font-weight: normal;
  padding: 0 0.5em;
}

.team .name {
  color: #779cc2;
  font-size: 175%;
  font-weight: normal;
  margin: 0 0 0 0.25em;
}

.team p {
  margin-left: 0.25em;
}


.about .clients h2 {
  border-bottom: 1px solid black;
  color: #85090d;
  font-size: 170%;
  font-weight: normal;
  padding-bottom: 0.75em;
}

.about .client-list, .about .areas {
  font-size: 110%;
  min-width: 365px;
  margin: 0;
  padding: 0;
  display: inline-block;
  list-style: inside;
}

.about li {
  padding: 0.5em 0 0 0;
}

.areas-of-practice {
  position: relative;
  margin-top: 3em;
  background: #e1e1e1;
  border-top: 13px solid #779cc2;
  width: 110%;
  left: -5%;
  padding: 0 0 2em 5%;
}

.areas-of-practice h2 {
  color: #2d2d2d;
}


@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
  .masthead { display: none }

  header {
    position: relative;
    background: #85090d;
    color: white;
  }

  #menu-toggle { display: none; }

  #menu-toggle:checked ~ nav {
    display: block;
  }

  #menu-toggle:checked ~ label:before {
    position: relative;
    left: -0.12em;
    content: "\0d7";
  }

  #menu-toggle:not(:checked) ~ label:before {
    content:'\2630';
  }

  header .hamburger {
    position: absolute;
    right: 0.3em;
    font-size: 3em;
    text-align: right;
  }

  header nav {
    width: 100%;
    background: #85090d;
    position: absolute;
    display: none
  }

  header nav ul {
    list-style: none;
    margin: 0;
    padding: 0 0 1em;
  }


  header nav a {
    font-family: 'Source Sans Pro', sans-serif;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 2em;
  }


  header nav ul li {
    text-align: center;
    padding: 0.33em 0;
  }

  header nav .telephone { display: none; }

  header h1 {
    display: inline-block;
    margin: 0;
    font-weight: normal;
    font-size: 1.3em;
    line-height: 1em;
    padding: 0.6em 1em;
  }

  header .names {
    font-size: 0.7em;
  }

  .main, footer{
    padding: 1em 1.5em;
  }

  .main {
    overflow: hidden;
    background: white;
  }

  footer {
    font-family: 'Source Sans Pro', sans-serif;
    background: #404042;
    color: #fff;
    font-size: 0.75em;
  }

  footer div {
    margin-bottom: 0.5em;
  }

  footer nav { display: none; }

  .home p {
    color: #404042;
    font-size: 127%;
  }

  .home p.lead {
    font-size: 180%;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
  }

  .home p.closer {
    font-style: italic;
  }

  .about .client-list, .about .areas {
    min-width: inherit;
  }


  .about .client-list, .about .areas {
    list-style: outside;
  }

  .about .areas-of-practice {
    width: 130%;
    padding: 1em 3em;
    left: -3em;
  }

  .contact iframe {
    width: 100%;
  }

  .contact a.button {
    margin: 0.75em 0;
  }

  .contact .office {
    margin-bottom: 3.3em;
    padding-bottom: 1.75em;
    border-bottom: 1px solid black;
  }

  .contact .office:last-of-type {
    border-bottom: none;
    margin-bottom: 1em;
    padding-bottom: 0;
  }

  .team h3.name {
    display: inline-block;
    font-size: 1.5em;
  }

  .team input { display: none; }
  .team .bio { display: none; }

  .chevron{
    position:relative;
    display:inline-block;
    height:20px;/*height should be double border*/
  }

  .chevron:before,
  .chevron:after{
    position:absolute;
    display:inline-block;
    content:"";
    border:10px solid transparent;/*adjust size*/
  }
  .team input:not(:checked) ~ label .chevron {
    top: 8px;
    left: 10px;
  }
  .team input:not(:checked) ~ label .chevron:before {
    top:0;
    border-top-color:#85090d;/*Chevron Color*/
  }
  .team input:not(:checked) ~ label .chevron:after {
    top:-5px;/*adjust thickness*/
    border-top-color:#fff;/*Match background colour*/
  }

  .team input:checked ~ label .chevron {
    top: -3px;
    left: 10px;
  }
  .team input:checked ~ label .chevron:before {
    bottom:0;
    border-bottom-color:#85090d;/*Chevron Color*/
  }
  .team input:checked ~ label .chevron:after {
    bottom:-5px;/*adjust thickness*/
    border-bottom-color:#fff;/*Match background colour*/
  }
  .team input:checked ~ .bio { display: block }
}
